.App {
  text-align: center;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
  width: 80%;
  height: 300px;
  margin: 20px 0;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.FontSelector {
  margin-bottom: 20px;
}

.FontSelector label {
  display: block;
  margin-bottom: 10px;
}

.FontSelector select {
  width: 100%;
  height: 30px;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.FontSelector button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.FontSelector button:hover {
  background-color: #3e8e41;
}

.FontSelector button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition:.4s;
  transition:.4s;
  /* hjjwh */
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition:.4s;
  transition:.4s;
}

input:checked +.slider {
  background-color: #2196F3;
}

input:focus +.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked +.slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}